html {
  height: 100%;
  background-color: black;
}
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1em;
}
#mainCanvas {
  z-index: 1;
  position: absolute;
}
#login, #login form, #loading, #connecting, #menu {
  color: greenyellow;
  background-color: #012009; /* dark green */
}
#login, #loading, #connecting, #gui {
  z-index: 2;
  position: absolute;
  width: 100%;
}
#login, #loading, #connecting {
  height: 100%;
}
#login p, #loading p, #connecting p {
  margin: 0;
}
#login input, #login button, #connecting button, #menu button {
  border: 1px solid greenyellow;
  background: #012009; /* dark green */
  color: greenyellow;
  font-family: 'Courier New', Courier, monospace;
  padding: 0;
}

#menu {
  width: 100%;
  border-bottom: 1px solid yellowgreen;
  padding: 0.2em;
}
#menu button {
  font-size: 1em;
  padding: 0 0.25em;
}
/* ul {
  list-style: none;
  padding: 0px;
}

ul li:before
{
  content: '>';
  margin: 0 2em;    /* any design * /
} */

/* Large devices (desktops, 992px and up) */

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  body {
    font-size: 1.5em;
  }
  #login input, #login button {
    font-size: 1em;
    max-width: 100%;
  }
}
